<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
<div class="tracks-box">
    <div class="track-box">
        <p class="track-name">1) Signs Of Life</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/01. Signs Of Life.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">2) Learning To Fly</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/02. Learning To Fly.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">3) The Dogs Of War</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/03. The Dogs Of War.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">4) One Slip</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/04. One Slip.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">5) On The Turning Away</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/05. On The Turning Away.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">6) Yet Another Movie-Round And Around</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/06. Yet Another Movie-Round And Around.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">7) A New Machine Part 1</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/07. A New Machine Part 1.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">8) Terminal Frost</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/08. Terminal Frost.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">9) A New Machine Part 2</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/09. A New Machine Part 2.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">10) Sorrow</p>
        <audio controls src="../audio/a_momentary_lapse_of_reason/10. Sorrow.mp3"></audio>
    </div>
</div>
<div class="track-list-link">
    <<a th:href="${albumRef}">
    <button type="button">Вернуться</button>
</a>
</div>
<script src="../scripts/correct_audio.js"></script>
</body>
</html>