<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
<div class="tracks-box">
    <div class="track-box">
        <p class="track-name">1) Pigs On The Wing (Part One)</p>
        <audio controls src="../audio/animals/01. Pigs On The Wing (Part One).mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">2) Dogs</p>
        <audio controls src="../audio/animals/02. Dogs.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">3) Pigs (Three Different Ones)</p>
        <audio controls src="../audio/animals/03. Pigs (Three Different Ones).mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">4) Sheep</p>
        <audio controls src="../audio/animals/04. Sheep.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">5) Pigs On The Wing (Part Two)</p>
        <audio controls src="../audio/animals/05. Pigs On The Wing (Part Two).mp3"></audio>
    </div>
</div>
</body>
</html>