<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
<div class="track-list-link">
    <<a th:href="${albumRef}">
    <button type="button">Вернуться</button>
</a>
</div>
<script src="../scripts/correct_audio.js"></script>
</body>
</html>