<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
    <div class="tracks-box">
        <div class="track-box">
            <p class="track-name">1) Things Left Unsaid</p>
            <audio controls src="../audio/the_endless_river/01. Things Left Unsaid.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">2) It's What We Do</p>
            <audio controls src="../audio/the_endless_river/02. It's What We Do.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">3) Ebb And Flow</p>
            <audio controls src="../audio/the_endless_river/03. Ebb And Flow.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">4) Sum</p>
            <audio controls src="../audio/the_endless_river/04. Sum.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">5) Skins</p>
            <audio controls src="../audio/the_endless_river/05. Skins.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">6) Unsung</p>
            <audio controls src="../audio/the_endless_river/06. Unsung.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">7) Anisina</p>
            <audio controls src="../audio/the_endless_river/07. Anisina.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">8) The Lost Art Of Conversation</p>
            <audio controls src="../audio/the_endless_river/08. The Lost Art Of Conversation.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">9) On Noodle Street</p>
            <audio controls src="../audio/the_endless_river/09. On Noodle Street.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">10) Night Light</p>
            <audio controls src="../audio/the_endless_river/10. Night Light.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">11) Allons-y (1)</p>
            <audio controls src="../audio/the_endless_river/11. Allons-y (1).mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">12) Autumn '68</p>
            <audio controls src="../audio/the_endless_river/12. Autumn '68.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">13) Allons-y (2)</p>
            <audio controls src="../audio/the_endless_river/13. Allons-y (2).mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">14) Talkin' Hawkin'</p>
            <audio controls src="../audio/the_endless_river/14. Talkin' Hawkin'.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">15) Calling</p>
            <audio controls src="../audio/the_endless_river/15. Calling.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">16) Eyes To Pearls</p>
            <audio controls src="../audio/the_endless_river/16. Eyes To Pearls.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">17) Surfacing</p>
            <audio controls src="../audio/the_endless_river/17. Surfacing.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">18) Louder Than Words</p>
            <audio controls src="../audio/the_endless_river/18. Louder Than Words.mp3"></audio>
        </div>
    </div>
    <div class="track-list-link">
        <<a th:href="${albumRef}">
        <button type="button">Вернуться</button>
    </a>
    </div>
    <script src="../scripts/correct_audio.js"></script>
</body>
</html>