<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
<div class="tracks-box">
    <div class="track-box">
        <p class="track-name">1) The Post War Dream</p>
        <audio controls src="../audio/the_final_cut/01. The Post War Dream.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">2) Your Possible Pasts</p>
        <audio controls src="../audio/the_final_cut/02. Your Possible Pasts.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">3) One Of The Few</p>
        <audio controls src="../audio/the_final_cut/03. One Of The Few.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">4) The Hero_s Return</p>
        <audio controls src="../audio/the_final_cut/04. The Hero_s Return.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">5) The Gunners Dream</p>
        <audio controls src="../audio/the_final_cut/05. The Gunners Dream.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">6) Paranoid Eyes</p>
        <audio controls src="../audio/the_final_cut/06. Paranoid Eyes.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">7) Get Your Filthy Hands Off My Desert</p>
        <audio controls src="../audio/the_final_cut/07. Get Your Filthy Hands Off My Desert.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">8) The Fletcher Memorial Home</p>
        <audio controls src="../audio/the_final_cut/08. The Fletcher Memorial Home.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">9) Southampton Dock</p>
        <audio controls src="../audio/the_final_cut/09. Southampton Dock.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">10) The Final Cut</p>
        <audio controls src="../audio/the_final_cut/10. The Final Cut.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">11) Not Now John</p>
        <audio controls src="../audio/the_final_cut/11. Not Now John.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">12) Two Suns In The Sunset</p>
        <audio controls src="../audio/the_final_cut/12. Two Suns In The Sunset.mp3"></audio>
    </div>
</div>
<script src="../scripts/correct_audio.js"></script>
</body>
</html>