<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
<div class="tracks-box">
    <div class="track-box">
        <p class="track-name">1) Speak To Me-Breathe In The Air</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/01. Speak To Me-Breathe In The Air.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">2) On The Run</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/02. On The Run.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">3) Time</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/03. Time.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">4) The Great Gig In The Sky</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/04. The Great Gig In The Sky.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">5) Money</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/05. Money.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">6) Us And Them</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/06. Us And Them.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">7) Any Colour You Like</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/07. Any Colour You Like.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">8) Brain Damage</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/08. Brain Damage.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">9) Eclipse</p>
        <audio controls src="../audio/the_dark_side_of_the_moon/09. Eclipse.mp3"></audio>
    </div>
</div>
<script src="../scripts/correct_audio.js"></script>
</body>
</html>