<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
    <div class="tracks-box">
        <div class="track-box">
            <p class="track-name">1) Cluster One</p>
            <audio controls src="../audio/the_division_bell/01. Cluster One.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">2) What Do You Want From Me</p>
            <audio controls src="../audio/the_division_bell/02. What Do You Want From Me.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">3) Poles Apart</p>
            <audio controls src="../audio/the_division_bell/03. Poles Apart.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">4) Marooned</p>
            <audio controls src="../audio/the_division_bell/04. Marooned.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">5) A Great Day For Freedom</p>
            <audio controls src="../audio/the_division_bell/05. A Great Day For Freedom.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">6) Wearing The Inside Out</p>
            <audio controls src="../audio/the_division_bell/06. Wearing The Inside Out.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">7) Take It Back</p>
            <audio controls src="../audio/the_division_bell/07. Take It Back.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">8) Coming Back To Life</p>
            <audio controls src="../audio/the_division_bell/08. Coming Back To Life.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">9) Keep Talking</p>
            <audio controls src="../audio/the_division_bell/09. Keep Talking.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">10) Lost For Words</p>
            <audio controls src="../audio/the_division_bell/10. Lost For Words.mp3"></audio>
        </div>
        <div class="track-box">
            <p class="track-name">11) High Hopes</p>
            <audio controls src="../audio/the_division_bell/11. High Hopes.mp3"></audio>
        </div>
    </div>
    <script src="../scripts/correct_audio.js"></script>
</body>
</html>