<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
<div class="tracks-box">
    <div class="track-box">
        <p class="track-name">1) Shine On You Crazy Diamond (1-5)</p>
        <audio controls src="../audio/wish_you_were_here/01. Shine On You Crazy Diamond (Parts 1-5).mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">2) Welcome To The Machine</p>
        <audio controls src="../audio/wish_you_were_here/02. Welcome To The Machine.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">3) Have A Cigar</p>
        <audio controls src="../audio/wish_you_were_here/03. Have A Cigar.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">4) Wish You Were Here</p>
        <audio controls src="../audio/wish_you_were_here/04. Wish You Were Here.mp3"></audio>
    </div>
    <div class="track-box">
        <p class="track-name">5) Shine On You Crazy Diamond (6-9)</p>
        <audio controls src="../audio/wish_you_were_here/05. Shine On You Crazy Diamond (Parts 6-9).mp3"></audio>
    </div>
</div>
<div class="track-list-link">
    <<a th:href="${albumRef}">
    <button type="button">Вернуться</button>
</a>
</div>
<script src="../scripts/correct_audio.js"></script>
</body>
</html>