<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/track_list.css">
</head>
<body>
    <audio controls src="../audio/the_endless_river/01. Things Left Unsaid.mp3"></audio>
    <audio controls src="../audio/the_endless_river/02. It's What We Do.mp3"></audio>
    <audio controls src="../audio/the_endless_river/03. Ebb And Flow.mp3"></audio>
    <audio controls src="../audio/the_endless_river/04. Sum.mp3"></audio>
    <audio controls src="../audio/the_endless_river/05. Skins.mp3"></audio>
    <audio controls src="../audio/the_endless_river/06. Unsung.mp3"></audio>
    <audio controls src="../audio/the_endless_river/07. Anisina.mp3"></audio>
    <audio controls src="../audio/the_endless_river/08. The Lost Art Of Conversation.mp3"></audio>
    <audio controls src="../audio/the_endless_river/09. On Noodle Street.mp3"></audio>
    <audio controls src="../audio/the_endless_river/10. Night Light.mp3"></audio>
    <audio controls src="../audio/the_endless_river/11. Allons-y (1).mp3"></audio>
    <audio controls src="../audio/the_endless_river/12. Autumn '68.mp3"></audio>
    <audio controls src="../audio/the_endless_river/13. Allons-y (2).mp3"></audio>
    <audio controls src="../audio/the_endless_river/14. Talkin' Hawkin'.mp3"></audio>
    <audio controls src="../audio/the_endless_river/15. Calling.mp3"></audio>
    <audio controls src="../audio/the_endless_river/16. Eyes To Pearls.mp3"></audio>
    <audio controls src="../audio/the_endless_river/17. Surfacing.mp3"></audio>
    <audio controls src="../audio/the_endless_river/18. Louder Than Words.mp3"></audio>
    <script>
        let audioList = document.querySelectorAll('audio');
        let audio = Array.apply(null, audioList);
        audio.forEach(t => {
            let index = audio.indexOf(t);

            t.addEventListener('play', ()=> {
                audio.forEach(subT => {
                    subT !== audio[index] ? (subT.pause(), subT.currentTime = 0) : subT.play()
                })
            })
        });
    </script>
</body>
</html>