body{
    background: url("../images/backgrounds/info_background.gif") repeat;
}

.album-title{
    display: block;
    font-family: "Times New Roman", sans-serif;
    color: white;
    font-weight: 900;
}

.text{
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1.5vw;
    color: #eddcf7;
    text-decoration: none;
}

.track-list:hover{
    color:mediumspringgreen;
    cursor: url(https://cur.cursors-4u.net/symbols/sym-1/sym57.cur), pointer
}
.track-list{
    text-decoration: none;
    font-family: "Times New Roman", sans-serif;
    font-size: 2vw;
    color: white;
    font-weight: 700;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.album-box{
    margin-left: 100px;
}

.album{
    background: blueviolet;
    padding: 4px 4px 4px;
    width: 300px;
}