
.image-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 5%;
    min-height: 100vh;
}

.album{
    width: 10%;
    min-width: 10%;
    min-height: 10%;
    background: #7eedd3;
    margin: 1%;
    padding: 0.1%;
}

.caption{
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1vw;
    color: white;
    text-decoration: none;
}