body{
    background: url("../images/backgrounds/home_background.gif") repeat;
}

.main-caption{
    font-size: 60px;
    text-align: center;
    color: white;
}

.image-container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 5%;
    min-height: 100vh;
}

.album-box{
    height: 250px;
    margin: 20px;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
}

.album{
    background: darkslateblue;
    width: 204px;
    padding: 4px 2px 2px;
    justify-content: center;
    justify-items: center;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=11736), pointer;
}

.first-item{
    padding: 3px 2px 2px;
    cursor: url(http://www.rw-designer.com/cursor-extern.php?id=11736), pointer;
}

.album:hover{
    background: blueviolet;

}

.album-box p{
    vertical-align: bottom;
    text-decoration: none;
    text-align: center;
    color: white;
    text-underline: none;
    text-size: 20px;
}

.album:hover ~ .caption{
    color:mediumspringgreen;
}


.album img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    margin: 0 auto;
    align-self: center;
}

.caption{
    display: block;
    font-family: Arial, sans-serif;
    font-size: 1vw;
    color: white;
    text-decoration: none;
}