<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title th:text="${albumName}"></title>
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/album_info.css">
</head>
<body>
    <h1 class="album-title" th:text="${albumName}"></h1>
    <div class="album-box">
        <img class="album" th:src="${albumCover}" th:alt="${albumName}">
        <a class="track-list" th:href="${trackRef}">Слушать композиции альбома</a>
    </div>
    <h2 class="album-title">Немного об альбоме:</h2>
    <p class="text" th:text="${infoParagraph1}"></p>
    <p class="text" th:text="${infoParagraph2}"></p>
    <p class="text" th:text="${infoParagraph3}"></p>
</body>
</html>