<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>pinkFloyd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
    <img class="album" src="../images/albums/the_endless_river.jpg" alt="The Endless River">
    <img class="album" src="../images/albums/the_division_bell.jpg" alt="The Division Bell">
    <img class="album" src="../images/albums/a_momentary_lapse_of_reason.jpg" alt="A momentary lapse of reason">
    <img class="album" src="../images/albums/the_final_cut.jpg" alt="The Final Cut">
    <img class="album" src="../images/albums/the_wall.jpg" alt="The Wall">
    <img class="album" src="../images/albums/animals.jpg" alt="Animals">
    <img class="album" src="../images/albums/wish_you_were_here.jpg" alt="Wish You Were Here">
    <img class="album" src="../images/albums/the_dark_side_of_the_moon.jpg" alt="The Dark Side Of The Moon">
    <img class="album" src="../images/albums/meddle.jpg" alt="Meddle">
    <img class="album" src="../images/albums/atom_heart_mother.jpg" alt="Atom Heart Mother">
    <img class="album" src="../images/albums/ummagumma.jpg" alt="Ummagumma">
    <img class="album" src="../images/albums/a_saucerful_of_secrets.jpg" alt="A Saucerful Of Secrets">
    <img class="album" src="../images/albums/the_piper_at_the_gates_of_dawn.jpg" alt="The Piper At The Gates Of Dawn">
</body>
</html>