<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <title>pinkFloyd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<div class="main-caption">
    Pink Floyd Albums
</div>
    <div class="image-container">
            <div class="album-box">
                <a class="album" href="https://youtu.be/IZUG653xJ7Q" target="_blank" rel="noopener noreferrer">
                    <div class="first-item">
                        <img src="../images/albums/the_endless_river.jpg" alt="The Endless River">
                    </div>
                </a>
                <p class="caption">The Endless River</p>
            </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/Nc7bHU6ylvM" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_division_bell.jpg" alt="The Division Bell">
            </a>
            <p class="caption">The Division Bell</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/DEf0iT6r7z4" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/a_momentary_lapse_of_reason.jpg" alt="A momentary Lapse Of Reason">
            </a>
            <p class="caption">A Momentary Lapse Of Reason</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/qZyXLX7bxDk" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_final_cut.jpg" alt="The Final Cut">
            </a>
            <p class="caption">The Final Cut</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/r48BLz42NuI" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_wall.jpg" alt="The Wall">
            </a>
            <p class="caption">The Wall</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/D4KQae9oMWs" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/animals.jpg" alt="Animals">
            </a>
            <p class="caption">Animals</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/TMy_mYkwl4M" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/wish_you_were_here.jpg" alt="Wish You Were Here">
            </a>
            <p class="caption">Wish You Were Here</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/cuKVhVb8VRw" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_dark_side_of_the_moon.jpg" alt="The Dark Side Of The Moon">
            </a>
            <p class="caption">The Dark Side Of The Moon</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/90zyF3gPF8M" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/meddle.jpg" alt="Meddle">
            </a>
            <p class="caption">Meddle</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/tS_9UlOn06o" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/atom_heart_mother.jpg" alt="Atom Heart Mother">
            </a>
            <p class="caption">Atom Heart Mother</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/xOerkHz6UYE" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/ummagumma.jpg" alt="Ummagumma">
            </a>
            <p class="caption">Ummagumma</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/rmmuHnXLJiw" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/a_saucerful_of_secrets.jpg" alt="A Saucerful Of Secrets">
            </a>
            <p class="caption">A Saucerful Of Secrets</p>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/MwTV23pBm_U" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_piper_at_the_gates_of_dawn.jpg" alt="The Piper At The Gates Of Dawn">
            </a>
            <p class="caption">The Piper At The Gates Of Dawn</p>
        </div>
    </div>
</body>
</html>