<!DOCTYPE HTML>
<html  lang="ru">
<head>
    <title>pinkFloyd</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" href="../icons/website.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/home.css">
</head>
<body>
<div class="main-caption">
    Pink Floyd Albums
</div>
    <div class="image-container">
            <div class="album-box">
                <a class="album" href="https://youtu.be/IZUG653xJ7Q" target="_blank" rel="noopener noreferrer">
                    <div class="first-item">
                        <img src="../images/albums/the_endless_river.jpg" alt="The Endless River">
                    </div>
                </a>
                <a class="caption" href="http://localhost:8080/album-info/the-endless-river">The Endless River</a>
            </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/Nc7bHU6ylvM" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_division_bell.jpg" alt="The Division Bell">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/the-division-bell">The Division Bell</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/DEf0iT6r7z4" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/a_momentary_lapse_of_reason.jpg" alt="A momentary Lapse Of Reason">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/a-momentary-lapse-of-reason">A Momentary Lapse Of Reason</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/qZyXLX7bxDk" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_final_cut.jpg" alt="The Final Cut">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/the-final-cut">The Final Cut</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/r48BLz42NuI" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_wall.jpg" alt="The Wall">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/the-wall">The Wall</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/D4KQae9oMWs" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/animals.jpg" alt="Animals">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/animals">Animals</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/TMy_mYkwl4M" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/wish_you_were_here.jpg" alt="Wish You Were Here">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/wish-you-were-here">Wish You Were Here</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/cuKVhVb8VRw" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_dark_side_of_the_moon.jpg" alt="The Dark Side Of The Moon">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/the-dark-side-of-the-moon">The Dark Side Of The Moon</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/90zyF3gPF8M" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/meddle.jpg" alt="Meddle">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/meddle">Meddle</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/tS_9UlOn06o" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/atom_heart_mother.jpg" alt="Atom Heart Mother">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/atom-heart-mother">Atom Heart Mother</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/xOerkHz6UYE" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/ummagumma.jpg" alt="Ummagumma">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/ummagumma">Ummagumma</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/rmmuHnXLJiw" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/a_saucerful_of_secrets.jpg" alt="A Saucerful Of Secrets">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/a-saucerful-of-secrets">A Saucerful Of Secrets</a>
        </div>
        <div class="album-box">
            <a class="album" href="https://youtu.be/MwTV23pBm_U" target="_blank" rel="noopener noreferrer">
                <img class="album" src="../images/albums/the_piper_at_the_gates_of_dawn.jpg" alt="The Piper At The Gates Of Dawn">
            </a>
            <a class="caption" href="http://localhost:8080/album-info/the-piper-at-the-gates-of-dawn">The Piper At The Gates Of Dawn</a>
        </div>
    </div>
</body>
</html>